body {
  text-align: center;
  background: rgba(75, 78, 76, 0.267);
}

.paste-div {
  margin: 1rem auto;
  width: 70%;
}

.css-ahj2mt-MuiTypography-root {
  word-break: keep-all;
  word-wrap: break-word;
}
